pipeline/pl_load_all_files_in_root_folder.json
{
	"name": "pl_load_all_files_in_root_folder",
	"properties": {
		"activities": [
			{
				"name": "Get All Faculty",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_root_folder",
						"type": "DatasetReference",
						"parameters": {
							"rootFolder": "info"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Fo Each Faculty",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Faculty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Faculty').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_load_all_files_in_faculty",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"facultyName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 8,
		"annotations": [],
		"lastPublishTime": "2024-05-20T11:26:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}